.profile-card, .repository-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}

.avatar {
    width: 100px; /* Adjust as needed */
    border-radius: 50%;
}

/* Layout de l'application avec flexbox */
.app {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}